.leftImg img {
    height: 650px;
    width: 400px;
    object-fit: cover;
    /* object-position: 0 0; */
    padding: 90px 0px 80px 80px;
}

.rightImg{
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.banner-text6 h1 {
    padding-top: 90px;
    padding-bottom: 30px;
    padding-right: 15px;
    text-align: left;
    font-size: 24.5px;
    font-weight: 400;
    color: #414141;
    font-style: bold;
}