.bg-pic {
    background-image:linear-gradient(to bottom, rgba(233, 233, 233, 1), rgba(239, 239, 239, 0.72), rgba(255, 255, 255, 0)),
    url('/static/solar-power-2f4e042b0d704bc2e96eb41bf33500a9.jpg');
}

.banner-text {
    padding-top: 165px;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    color: #173f35;
    font-style: bold;
}

/* @media only screen and (max-width: 768px){
  .banner-text{
    font-size: 35px;
  }
}

@media only screen and (max-width: 600px){
   .banner-text{
    font-size: 25px;
  }
} */