.bg-pic {
    background-image:linear-gradient(to bottom, rgba(233, 233, 233, 1), rgba(239, 239, 239, 0.72), rgba(255, 255, 255, 0)),
    url('images/banner_SabelGreen.jpg');
    height:90vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-text {
    padding-top: 165px;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    color: #173f35;
    font-style: bold;
}

@media only screen and (max-width: 768px){
  .banner-text{
    font-size: 35px;
  }
}

@media only screen and (max-width: 600px){
   .banner-text{
    font-size: 30px;
  }
  .bg-pic{
    height:70vh;
  }
}
