.bg-pic {
    background-image:linear-gradient(to bottom, rgba(233, 233, 233, 1), rgba(239, 239, 239, 0.72), rgba(255, 255, 255, 0)),
    url('images/solar-power.jpg');
}


.banner-text {
    padding-top: 165px;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    color: #173f35;
    font-style: bold;
}
