.bg-pic2{
   position: relative;
   height: 80vh;
   width: 100%;
   padding-top:12vh;
   padding-bottom: 12vh;
   overflow: hidden;
}

.bg-pic2::before{
    content: "";
    background-image: url(images/b&w.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 15%;
}

.box2{
  height: 56vh;
}

.bannertext2{
  height: 20vh;
  overflow: hidden;
  display: flex;
}

.bannertext2 h1{
    text-align: center;
    font-size: 24.5px;
    font-weight: 400;
    color: #414141;
    font-style: bold;
    width: 75%;
    margin: auto;
    letter-spacing: .5px;
}

.cards{
  height: 36vh;
  display: flex;
  justify-content: center;
  height: 30vh;
  padding-top: 6vh;
}

.card {
  background-color: transparent;
}

.card2{
  border: 0px;
  width: 20%;
  align-items: center;
  text-align: center;
  height:36vh;
}

.card2:hover{
  transform: scale(1.2)
}

.card2 img{
  height: auto;
  width: 5vw;
  opacity: 100%;
}

.card-text2{
  font-size: 15px !important;
  color: #173F35;
  opacity: 100%;
  font-weight: 300 !important;
  width:70%;
  margin:auto;
}

.card3{
  height: 36vh;
  padding-top: 40px;
  border: 0px;
  width: 20%;
  align-items: center;
  text-align: center;
}

.card3 img{
  height: auto;
  width: 5vw;
  opacity: 100%;
}

.card3:hover{
 transform: scale(1.2)
}


.solarBuilding{
    background-image:url('images/hq.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 45vh;
    width:100vw;
    opacity: 60%
}

@media only screen and (max-width: 1020px){
  .bg-pic2{
    padding-top: 8vh;
    padding-bottom: 8vh;
    height: 70vh;
  }

  .box2{
    height: 54vh
  }

  .bannertext2 h1{
    font-size:18px;
  }
  .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card-text2 {
    width: 90%;
    font-size: 13px !important;
  }
  .card2{
    height: 34vh;
    width: 23%;
  }
  .card3{
    height: 34vh;
    width: 23%
  }

  .solarBuilding{
    height: 30vh;
  }
}

@media only screen and (max-width: 845px){

.bannertext2{
  height: 21vh;
}

 .bg-pic2{
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: 80vh;
  }

.bannertext2 h1{
    font-size:15px;
  }

.cards {
      display: flex;
      width: 100%;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 5vh;
  }

  .card2{
    width: 40%;
    height: 20vh;
  }

  .card2 img{
    height: auto;
    width: 10vw;
    opacity: 100%;
  }

  .card3{
    padding-top: 0;
    width:40%;
    height: 20vh;
  }

  .card3 img{
    height: auto;
    width: 10vw;
    opacity: 100%;
  }

}
