.bg-pic3 {
    position: relative;
    height: 160vh;
    width: 100%;
}

.bg-pic3::before{
    content: "";
    background-image: url(images/b&w.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 15%;
}

.bg-pic3 h1 {
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    color: #414141;
    font-style: bold;
    text-decoration: underline; /* no me sale bien */
}

@media only screen and (max-width: 768px){
  .bg-pic3 h1{
    font-size: 35px;
  }
}

@media only screen and (max-width: 600px){
   .bg-pic3 h1{
    font-size: 25px;
  }
}

.mainText{
    font-size: 35px;
    font-weight: 400;
    color: #414141;
    font-style: bold;
    padding-right: 10px;
    padding-left: 0px;
    text-align: right;
}

@media only screen and (max-width: 768px){
  .mainText{
    font-size: 25px;
  }
}

@media only screen and (max-width: 600px){
   .mainText{
    font-size: 15px;
  }
}

.secundaryText{
    font-size: 16px;
    font-weight: 350;
    color: #414141;
    padding-left: 30px;
    padding-bottom: 50px;
}

@media only screen and (max-width: 768px){
  .secundaryText{
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px){
   .secundaryText{
    font-size: 10px;
  }
}
