.bg-pic3 {
    position: relative;
    /*height: 100vh;*/
    width: 100%;
    /*opacity: hidden;*/
    padding-bottom:9vh;
    padding-top: 5vh;
    overflow: hidden;
    background-image:linear-gradient(to bottom, rgba(233, 233, 233, .9), rgba(239, 239, 239, .9), rgba(255, 255, 255, .9)),
    url('images/b&w.jpg');
    background-size: cover;
}


.bg-pic3 h1 {
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    color: #414141;
    font-style: bold;
    text-decoration: underline; /* no me sale bien */
}

.rows{
  width: 80%;
  display: flex;
  flex-direction: column;
  margin:auto;
}

.row2{
  display: flex;
  justify-content: space-around;
  padding-top: 2vh;
}


.mainText{
    font-size: 30px;
    font-weight: 400;
    color: #414141;
    font-style: bold;
    text-align: end;
    width: 25%;
    text-decoration: underline;
}


.secundaryText{
    font-size: 16px;
    font-weight: 350;
    color: #414141;
    width: 70%
}

@media only screen and (max-width: 1110px){
  .bg-pic3 h1{
    font-size: 30px
  }
  .rows2{
    display: flex;
    height: 30vh;
  }
  .row2{
    display: block;
    width: 50%
  }
  .mainText{
    width: 80%;
    margin: auto;
    text-align: center;
    height:7vh;
    font-size: 20px
  }
  .secundaryText{
    font-size: 13px;
    width: 90%;
    text-align: center;
    margin: auto
  }
}

@media only screen and (max-width: 790px){
  .bg-pic3{
    height: 130vh
  }
  .bg-pic3 h1{
    padding-top: 35px;
    padding-bottom: 14px;

  }
  .rows2{
    display: block;
    height: auto
  }
  .row2{
    width: 100%;
    padding-top:3vh;
    padding-bottom: 3vh;
  }
  .mainText{
    height: 4vh;
  }
  .backgroundcolor{
   background-color: rgba(107, 103, 103, 5%);
   border-radius: 4px;
  }
}

