.banner-text2 {
    padding-top: 150px;
    text-align: center;
    font-size: 24.5px;
    font-weight: 400;
    color: black;
    font-style: bold;
    opacity: none;
}

.bg-pic2 {
    /* opacity: 15%; ----- NO ME FUNCIONA */ 
}



