.bigpic-4{
  padding-top: 100px;
  padding-bottom:100px;
}

.bannertext2 h2{
  padding-bottom: 50px;
  text-align: center;
  font-size: 45px;
  font-weight: 400;
  color: #414141;
  font-style: bold;
  text-decoration: underline;
  margin: auto
}

.cards2{
  display: flex;
  justify-content: center;
}


.card4{
  border: 0px;
  width: 25%;
  align-items: center;
  text-align: center;
}

.card4:hover{
  transform: scale(1.2)
}

.card4 img{
  width: 20%;
}


.card5{
  border:0px;
  padding-top: 40px;
  width: 25%;
  align-items: center;
  text-align: center;
}

.card5 img{
  width: 20%;
}

.card5:hover{
 transform: scale(1.2);
}

@media only screen and (max-width: 1020px){

  .card4{
    width: 23%;
  }

  .card4 img{
    width: 30%;
    height: 35%;
  }

  .card5{
    width: 23%
  }

  .card5 img{
    width: 30%;
    height:35%;
  }

  .cards2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

}

@media only screen and (max-width: 845px){
  .bigpic-4{
    padding-top: 80px;
    padding-bottom:80px;
  }

  .bannertext2 h2{
    font-size: 30px;
    padding-bottom: 90px;
  }

  .card4{
    width: 40%;
    height:26vh;
  }

  .card4 img{
    height: auto;
    width: 10vw;
  }

  .card5{
    width:40%;
    padding-top: 0;
  }

  .card5 img{
    height: auto;
    width: 10vw;
  }

  .card-mobile-top{
    margin-bottom:40px;
  }

  .card-mobile-left{
    margin-right:15px;
  }

  .card-mobile-right{
    margin-left:15px;
  }
}
