.background{
    background-color: #173f35;    
}

.info-card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
    object-fit: cover;
    opacity: 0.6;
    padding-bottom: 10px;
}

.icons-card2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 80px;
}

.card-body {
    padding: 0rem;
}

.card-text {
    font-size: 18px;
    font-weight: 40;
}

.paddingRight{
    padding-right: 75px;
}