.bg-color{
    background-color: #173f35;
}

.info-card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
    object-fit: cover;
    opacity: 0.6;
    padding-bottom: 10px;
}

.info-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card {
     border: none;
     text-align: center;
     padding-top: 40px;
     padding-bottom: 80px;
     padding-left: 20px;
     padding-right: 20px;
     background-color: #173f35;
}

.card-body {
    padding: 0rem;
}

.card-title, .card-text {
    color: #E9E9E9;
    opacity: 0.6;
    height: 15px;
}

.card-text {
    font-size: 18px;
    font-weight: 40;
}